/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
header {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    position: sticky;
    top: 0%;
   height: 90px;


}

.navigation {
    display: flex;
    position: relative;
    

}

.docplanner-logo {
    width: 70%;
    display: block;
    margin-block-start: 2%;
    margin-block-end: 2%;
    margin-inline-start: 2%;
    margin-inline-end: 2%;
}

.docplanner-logo img {
    width: 35%;
    margin-left: 20%;

}

.nav-links {
    width: 50%;
    justify-content: center;
    margin-top: 4%;
}

.nav-links a {
    text-decoration: none;
    color: rgb(71, 78, 77);
    margin: 16px;
    font-family: Cambodian;
   
    
}
.nav-links a:hover {
    text-decoration: none;
    color: rgb(10, 143, 114);
    margin: 16px;
    font-family: Cambodian;
   
    
}
.dropbtn{
    border: none;
    background-color: white;
    font-family: Cambodian;
    font-size:large;
    font-weight: lighter;
    color: rgb(71, 78, 77);
}
.dropbtn a:hover {
    color: rgb(10, 143, 114);

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
   
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(61, 57, 57, 0.384);
    z-index: 1;
    font-size: 15px;
    font-family: Cambodian;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #dbd7d7;
    text-emphasis-color: black;


}


/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(66, 70, 69);
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-weight: 900px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    width: 250px;
    height: 250px;

}


.container {
    padding: 1%;
}

.general-infos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 2/4;
    grid-column: 2/3;
}

.Docplanner-sygnet {
    display: flex;
    justify-content: center;
}

.general-infos-container h1 {
    width: 100%;
    margin-left: 19%;
    color: rgb(0, 197, 155);
    font-family: Calibri Light;
    font-size: 2.5rem;
    font-weight: lighter;

}

.discreption-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
    margin-left: -1%;
    margin-bottom: 50px;
    color: #747474;
    font-size: larger;
    font-weight: lighter;
    
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 7%;
    height: 332px;
    padding-left: 20px;
    
    
}

.services-container h2 {
    font-size: 1.50em;
    margin-left: 6%;
    color: hsla(0, 0%, 100%, .7);
    font-family: Century Gothic;
    font-weight: lighter;

}

.services-container h1 {
    margin-left: 6%;
    color: white;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 20px;
    

}

.countries-existing {
    margin-left: 6%;
    padding: 1%;
    border-radius: 10px;
    margin-top: 65px;
    border-style: none none none none;
    background-color: rgb(0, 204, 177);
    text-decoration: underline;
    font-size: larger;
    text-decoration-color: white;
    color: white;
    
}
.countries-existing2 {
    margin-left: -300px;
    padding: 3%;
    background-color: rgb(61, 131, 223);
    border-radius: 10px;
    border-style: none none none none;
    margin-top: 270px;
    text-decoration: underline;
    font-size: larger;
    text-decoration-color: white;
    color: white;
}
.countries-existing3 {
    margin-left: 15px;
    margin-top: 30px;
    background-color: #1b2734;
    border-style: none none none none;
    text-decoration: underline;
    font-size: larger;
    text-decoration-color: white;
    color: white;
    border-radius: 10px;
}

.services-container-for-patients {
    border: 1px solid rgb(0, 204, 177);
    border-radius: 15px;
    width: 300px;
    background-color: rgb(0, 204, 177);
    overflow: hidden;
    height: 350px;
    margin-bottom: 2%;
    padding-left: 20px;

}

.services-container-for-doctors {
    border: 1px solid rgb(61, 131, 223);
    border-radius: 15px;
    width: 300px;
    background-color: rgb(61, 131, 223);
    overflow: hidden;
    height: 350px;
    margin-bottom: 2%;
    padding-left: 20px;
}

.services-container-for-clinics {
    border: 1px solid #1b2734;
    border-radius: 15px;
    width: 300px;
    background-color: #1b2734;
    overflow: hidden;
    height: 350px;
    margin-bottom: 2%;
    padding-left: 20px;
    margin-right: 150px;

}

.adress-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.adress-container h1 {
    font-family: Calibri Light;
    color: rgb(0, 204, 177);
    width: 30%;
    font-weight: lighter;
    margin-left: 130px;
    text-size-adjust: 100px;
    margin-top:50px;
    font-size: 33px;
}

.adress-list-of-links {
    width: 70%;
    margin-left: 10%;
    
}

.adress-list-of-links ul {
    list-style-type: none;
    line-height: 3;
    margin: 10;
    padding: 10;
    overflow: hidden;
    
}

.adress-list-of-links li {
    float: left;
    margin-right: 15px;
   
}

.adress-list-of-links li a {
   font-size: 19px;
    text-decoration: none;
    color: gray;
}

.adress-list-of-links img {
    height: 22px;
   filter: grayscale(100%);
}

.stats-container {
    background: #e5faf8;
    background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
    display: flex;
    height: 500px;
    padding: 4%;
    overflow: hidden;
}

.introduction-box {
    width: 30%;
}

.introduction-box h1 {
    color: rgb(0, 177, 159);
    font-family: Calibri Light;
    margin-bottom: 7%;
    font-size: 27px;
    font-weight: lighter;
}

.introduction-box p {
    opacity: 0.7;
    font-family: Calibri Light;
    font-weight:normal;
}

.introduction-logo img {
    height: 400px;
    width: 400px;
    margin-top: 1px;
}

.stats {
    text-align: center;
    width: 40%;
    margin: 0 4% 0 19%;
   color: gray;
   font-size: small;
}

.stats h1 {
    color: rgb(0, 197, 155);
    font-family: Calibri Light;
    font-weight:lighter;
    font-size: x-large;
}

.stats-box {
    height: 250px;
    background-color: white;
    border-radius: 3%;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 30px;
    margin-top: -30px;
}

.stats-box-colomn-2 {
    display: flex;
    margin-top: 5%;
}

.stats-box-colomn-1 {
    display: flex;
    margin-top: 7px;
}

.box-3 p {
    margin-right: 10%;
    margin-top: 10%;
}

.box-4 p {
    margin-right: 8px;
    margin-top: 4%;
}
.stats-box-logo{
    padding-top: 20px;

}
.stats-box .box-1 {
    padding-top: 100px;
}
.offices-description {
    text-align: center;
}

.offices-description h1 {
    color: rgb(0, 197, 155);
    font-family: Calibri Light;
    font-weight:lighter;
    font-size: xx-large;
    padding-top: 60px;
}

.offices-description p {
    text-align: center;
    color: black;
    opacity: .7;
    font-size:1em;
    padding-bottom: 70px;
}

.offices-colomn-1 {
    display: flex;
    justify-content: space-evenly;
}

.offices-colomn-2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

.offices-colomn-1 h1 {
    font-family: Calibri Light;
    color: rgb(110, 109, 107); 
    font-weight: lighter;
}

.offices-box h2 {
    font-family: Calibri Light;
    color: rgb(110, 109, 107); 
    font-weight: lighter;
}
.offices-box-image :hover{
    display: block;
    background-color: #3b3737;
    text-emphasis-color: black;
    box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
  cursor: pointer;


}

.opening-information {
    text-align: right;
    margin-top: -17%;
}

.opening-information input {
    background-color: rgb(61, 131, 223);
    color: white;
    height: 15px;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
    font-size: x-small;
    font-weight: bold;
}

.interesting{
    margin: 70px;
}
.interesting p{
    font-size: 30px;
    color: rgba(26, 24, 24, 0.678);
    font-weight: lighter;
}

.interesting button{
   width: 250px;
   height: 35px;
   background-color: rgb(61, 131, 223);
   border: none;
   border-radius: 6%;
   color: rgb(255, 255, 255);
   font-size: 15px;
   font-weight: bold;
}
.interesting button:hover{
    background-color: #173ff3;
    text-emphasis-color: rgb(2, 60, 250);
    box-shadow: 0px 0px 30px rgb(27, 40, 224);
  cursor: pointer;
}
.offices-list {
    width: 40%;
    margin-left: -20%;
    margin-top: 1.2%;
}

/*Css for footer */
.footer{
    background-color: rgb(255, 255, 255);
    border-style: solid none none none;
    border: 2px   rgb(199, 48, 48);
    width: 1360px;
   margin-left: -10px;
   font-weight: lighter;
}
.footer a{
    text-decoration: none;
    color: rgb(52, 151, 218);
}
.footer a :hover {
    text-decoration:underline;
    cursor: pointer;
}
.footer p{
    color: rgb(110, 109, 107);
    font-size: 14px;

}